.move{
  background-color:  rgb(48, 184, 218);
  height: 100px;
  width: 100%;
}

.move1{
  background-color: rgb(230, 14, 14);
  padding: 50px;
}

@media screen and (max-width: 700px){
  .move{
    display: none;
  }
}
@media (prefers-color-scheme: light) {
  .img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
      margin-bottom: auto;
  }
}

@media (prefers-color-scheme: dark) {
    .img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
      margin-bottom: auto;
  }
}

@media screen and (max-width: 500px){
    .img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
      margin-bottom: auto;
      width: 100px;
      height: 100px;
  }
}

